.introduction {
  height: 93.5vh;
  width: 100vw;
  background-image: url("../../../../../images/sofa02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomeLogo {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 100px;
}

.welcome {
  font-size: calc(7 * var(--size));
  font-weight: var(--boldL3);
  color: var(--colorWhite);
  display: flex;
  padding-left: 100px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.logoBack {
  width: 850px;
  height: 80px;
  background-color: var(--colorWhite);
  padding-left: 0;
}

.logo {
  width: 300px;
  padding-left: 100px;
  padding-top: 10px;
}

.sentance {
  display: flex;
  width: 850px;
  padding: 20px 5px 0 100px;
  text-align: justify;
  font-size: calc(1.2 * var(--size));
  font-weight: var(--boldL3);
  color: var(--colorWhite);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
