
.chatBox{
    background-color: var(--l-bg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    height: var(--hei-30);

}

.chatArea{
    height: calc(100vh - 2*var(--hei-30) - var(--hei-50));
    overflow-y: scroll;
    margin-right: 2px;
}

.msgBox{
    height: var(--hei-50);

}