.cardGame .header {
    display: flex;
    gap: 10px;
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorGray2);
    padding: 0 20px;
}

.leftHeader,
.rightHeader {
    display: flex;
    gap: 10px;
}

.timer {
    display: flex;
    gap: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid var(--colorGray3);
}

.timeLeft {
    color: var(--colorCyan);
    font-weight: var(--boldL2)
}