.result {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.result p {
    text-align: center;
    font-weight: var(--boldL2);
}

.singleCard {
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.playerText {
    padding-top: 5px;
    font-weight: var(--boldL2);
    text-align: center;
}