.meetingBox {
    min-height: 300px;
    max-height: 400px;
    padding: 20px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.meeting {
    height: 100%;
    display: flex;
    width: 820px;
    gap: 20px;

}

.titleCalenderTime {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    width: 400px;
}

.calenderTime {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 400px;
}

.calender {
    height: 200px;
    width: 200px;
}

.notiRecur {
    display: flex;
    gap: 20px;
}


.lable {
    padding-left: 5px;
    margin-bottom: 8px;
}

.Participate {
    border: 1px solid red;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}