.meetingBox {
    border: 1px solid red;
    min-height: 300px;
    max-height: 400px;
    padding: 20px;
    overflow: auto;
}

.calenderTime {
    display: flex;
    gap: 20px;
    align-items: center;

    border: 1px solid red;
    width: 400px;
}

.calender {
    height: 200px;
    width: 200px;
}

.time {

}