.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.mobile-menu-icon {
  display: none; /* Hide mobile menu icon by default */
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-menu-icon {
    display: block; /* Show mobile menu icon on mobile devices */
    cursor: pointer;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s ease;
  }

  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .line.open:nth-child(2) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
